@model TeamsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Teams";

    // No body for this layout
    IgnoreBody();
}

@section Scripts
{
    <script>
        // Change amount of teams
        $("#teams").change(function () {
            $("#teamCount").val($(this).val());

            for (let i = 0; i < @Model.TeamCount; i++) {
                if (i > $(this).val() - 1) {
                    $(`.team${i}`).hide();
                } else {
                    $(`.team${i}`).show();
                }
            }

            CheckValid();
        });

        // Change amount of players
        $("#players").change(function () {
            $("#playerCount").val($(this).val());

            for (let i = 0; i < @Model.PlayerCount; i++) {
                if (i > $(this).val() - 1) {
                    $(`#player${i}`).hide();
                } else {
                    $(`#player${i}`).show();
                }
            }

            CheckValid();
        });

        // Hide players aren't shown by default
        for (let i = @(Model.TeamCount > Model.PlayerCount ? Model.TeamCount : Model.PlayerCount) - 1; i > 1; i--) {
            $(`#player${i}, .team${i}`).hide();
        }

        // Select 2 players / 2 teams by default
        $("#teams, #players").val(2);
    </script>
}

<form asp-controller="@ViewData["Controller"]" asp-action="Index" method="post" autocomplete="off">
    <!--Hidden values for model-->
    <input asp-for="TeamCount" id="teamCount" type="number" value="2" style="display: none" />
    <input asp-for="PlayerCount" id="playerCount" type="number" value="2" style="display: none" />

    <!--Adaptive grid of names-->
    <!--Team 3 & Player 3 are disabled by default-->
    <div class="container">
        <div id="teamNames" class="row mb-1">
            @for (int t = 0; t < Model.TeamCount; t++)
            {
                <div class="col team@(t)">Team 1</div>
            }
        </div>
        @for (int p = 0; p < Model.PlayerCount; p++)
        {
            <div id="player@(p)" class="row mb-1">
                @for (int t = 0; t < Model.TeamCount; t++)
                {
                    <div class="col team@(t)">
                        <input asp-for="Names[t][p]" type="text" class="form-control" placeholder="Player @(p+1)" />
                    </div>
                }
            </div>
        }
    </div>

    <br />

    <!--Options for size of teams & players/team-->
    <div class="container">
        <div class="row justify-content-between mb-1">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Teams</span>
                    </div>
                    <select id="teams" class="custom-select">
                        @for (int t = 1; t <= Model.TeamCount; t++)
                        {
                            <option value="@(t)">@(t)</option>
                        }
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text">Players Per Team</span>
                    </div>
                    <select id="players" class="custom-select">
                        @for (int p = 1; p <= Model.PlayerCount; p++)
                        {
                            <option value="@(p)">@(p)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-2">
                <input type="submit" id="submit" class="form-control btn btn-primary" value="Create Game" disabled />
            </div>
        </div>
    </div>
</form>