@model FiveHundredViewModel
@{
    ViewData["Title"] = "500";
}

@section Scripts
{
    <script>
        // Set first team as bidder
        ChangeBidder(0);

        // On bidder change
        $('.input-group input[type=radio][name=bidder]').change(function () {
            ChangeBidder($(this).val());
        });

        function ChangeBidder(id) {
            // Set all hands to defending
            $('.biddingTricks, .suit').hide();
            $('.defendingTricks').show();

            // Change bidder
            $(`#biddingTricks${id}, #suit${id}`).show();
            $(`#defendingTricks${id}`).hide();

            // Enable submit
            $('#submit').prop('disabled', false);
        }
    </script>
}

<div class="container">
    <!--Table for displaying all hands played-->
    <div class="row mb-3">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="">#</th>
                        @for (int t = 0; t < Model.Teams.Length; t++)
                        {
                            <th scope="col">@Model.Teams[t].Name</th>
                        }
                    </tr>
                </thead>

                <tbody>
                    <!--Display hands-->
                    @for (int h = 0; h < Model.Teams[0].Hands.Length; h++)
                    {
                        <tr>
                            <th>@(h + 1)</th>
                            @foreach (GameViewModel.Team team in Model.Teams)
                            {
                                <td>@team.Hands[h]</td>
                            }
                        </tr>
                    }
                    <!--Display score total for each team-->
                    <tr>
                        <th>Total</th>
                        @foreach (GameViewModel.Team team in Model.Teams)
                        {
                            <td>@team.Score</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Select bidder-->
    <div class="row mb-1">
        <div class="col">
            <span class="font-weight-light">Select Bidder</span>
        </div>
    </div>

    <!--Input for new hand per team-->
    <form asp-controller="FiveHundred" asp-action="Game" method="post" autocomplete="off">
        <div class="row mb-3">
            @for (int t = 0; t < Model.Teams.Length; t++)
            {
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input asp-for="Bidder" type="radio" name="bidder" value="@(t)" />
                        </div>
                        <span class="input-group-text">@Model.Teams[t].Name</span>
                    </div>
                    <select asp-for="Defence[t]" id="defendingTricks@(t)" class="custom-select defendingTricks">
                        <option selected value="">Tricks Scored...</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <select asp-for="Bid[t]" id="biddingTricks@(t)" class="custom-select biddingTricks" style="display: none">
                        <option selected value="">Tricks Bid...</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <select asp-for="Suit[t]" id="suit@(t)" class="custom-select suit" style="display: none">
                        <option selected value="">Suit...</option>
                        <option value="0">Spades</option>
                        <option value="1">Clubs</option>
                        <option value="2">Diamonds</option>
                        <option value="3">Hearts</option>
                        <option value="4">No Trumps</option>
                    </select>
                </div>
            }
        </div>
        <div class="row mb-1">
            <div class="col-2">
                <input type="submit" id="submit" class="btn btn-primary" value="Create Hand" disabled />
            </div>
        </div>
    </form>
</div>
